

@media(max-width: 1200px) {
  .container {
    padding-left: 0;
  }

  .cities {
    width: 80%;
    margin: 0 auto;
  }

  .places {
    width: 806px;
    margin: 0 auto;
    padding-left: 0;
  }

  .map {
    display: none;
  }
}

@media(max-width: 1068px) {
  .places {
    width: 540px;
  }
}

@media(max-width: 700px) {
  .places {
    width: 270px;
  }
}
