.gallery::after,
.gallery::before {
  display: none;
}

.gallery {
  width: 784px;
  clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
}

@media(max-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .gallery {
    width: 528px;
    max-height: 100%;
    clip-path: none;
  }
}

@media(max-width: 768px) {
  .container {
    padding: 0;
    margin-bottom: 24px;
  }

  .galleryWrapper {
    overflow: hidden;
    overflow-x: auto;
  }

  .gallery {
    width: 1600px;
    max-height: 200px;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .button {
    right: 0;
  }
}

