.login::after {
  width: 20vh;
}

@media(max-width: 1200px) {
  .locations {
    display: none;
  }

  .login {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    width: 345px;
    max-width: 100%;
  }

  .login::after {
    display: none;
  }

  .container {
    padding: 0;
    width: 90%;
  }

  .page {
    width: 80%;
    background-image: none;
  }
}

